# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# OS metadata
.DS_Store
Thumbs.db
